.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0e2d28;
  color: #333;
  font-family: "Roboto", sans-serif;
}

.home-content {
  display: flex;
  margin: 0 10rem;
  padding: 2rem 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #333;
  width: 75%;

  .content-area {
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .tag-bar {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      margin: 2rem 0;
      justify-content: flex-start;
      align-items: center;
    }

    .blog-posts {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content: flex-start;
      align-items: center;
    }
  }

  .side-bar {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
    margin-left: 2rem;
    border-left: 1px solid #333;
    height: 100%;
  }
}

.home-footer {
  width: 100%;
  background-color: #0e2d28;
  color: whitesmoke;
  text-align: center;
  padding: 1rem 0;

  p {
    margin: 0;
  }
}
