<div class="profile-block">
  <div class="profile-avatar">
    <img
      src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg"
      alt="Author"
    />
  </div>
  <div class="profile-content">
    <h2>John Doe</h2>
    <div class="user-status">
      <span>&#64;JohnDoe</span>
      <span>.</span>
      <span>Senior Software Engineer</span>
    </div>
    <p>I am a software engineer for nearly 15 years</p>
  </div>
  <button class="following-btn">Following</button>
</div>
