<div class="comment-form">
  <div class="comment-header">
    <div class="comment-user">
      <img
        src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg"
        alt="User Image"
      />
    </div>
    <div class="comment-input">
      <textarea placeholder="Write a comment..."></textarea>
    </div>
  </div>
  <div class="comment-actions">
    <button class="btn btn-primary" (click)="addComment()">
      <i class="fas fa-paper-plane"></i> Post
    </button>
  </div>
</div>
